:root {
  --primary-color-dark: #077531;
  --primary-color-light: #098638;
}

.content-main {
  overflow-x: hidden;
  .whole-nav-wrapper {
    .navbar-1-wrapper,
    .navbar-2-wrapper {
      position: relative;
      .bg-transparent {
        background-color: transparent;
      }
      .logo-img {
        height: 50px;
      }

      .top-bar-link {
        text-decoration: none;
        color: white;
      }
      .top-bar-link:hover {
        color: orange;
      }
    }
    .navbar-1-wrapper {
      background-color: var(--primary-color-light);

      padding: 11px 10px;
    }
    .navbar-2-wrapper {
      background-color: var(--primary-color-dark);

      padding: 15px;

      .logo-img {
        /* height: 50px; */
        display: none;
      }

      .bottom-bar-links {
        .link {
          text-decoration: none;
          color: white;
          font-size: 0.9rem;
          font-weight: 500;
        }
        .link:hover {
          color: orange;
        }
        .link-active {
          color: orange;
          text-decoration: underline;
        }
      }
      .search-field {
        background-color: transparent;
        outline: none;
        border: none;
        color: white;
        text-align: end;
        padding-right: 20px;
        border-bottom: 1px solid gray;
        margin-left: 20px;
      }
      .menu-btn {
        display: none;
      }

      .menu {
        position: fixed;
        background-color: var(--primary-color-dark);
        height: 100vh;
        z-index: 1000;
        padding: 20px;
        top: 0;
        left: -60vw;
        width: 60vw;
        /* display: flex; */
        /* display: none; */
        flex-direction: column;
        gap: 5px;
        box-shadow: 2px 0 5px 2px rgba(0, 0, 0, 0.442);
        transition: all 0.2s ease;

        a {
          color: white;
          text-decoration: none;
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 25px;

          i {
            font-size: 1.5rem;
          }
        }
        a:hover {
          color: orange;
          background-color: rgba(0, 0, 0, 0.199);
        }
      }

      .menu-active {
        /* display: flex; */
        left: 0;
      }

      .btn {
        background-color: white;
      }
      .link-desc {
        position: absolute;
        background-color: var(--primary-color-dark);
        transform: translateX(-50%);
        left: 50%;
        width: 80%;
      }
      .desc-hidden {
        display: none;
      }

      .link:hover .link-desc {
        display: block;
      }
    }

    @media screen and (max-width: 1080px) {
      .bottom-bar-links .link {
        display: none;
      }
      .navbar-2-wrapper {
        .logo-img {
          display: block;
        }
        .menu-btn {
          display: block;
          padding: 10px;
          margin-left: 20px;
          i {
            color: white;
            font-size: 2rem;
          }
        }
      }
      .navbar-1-wrapper {
        display: none;
      }
    }

    @media screen and (max-width: 576px) {
      .navbar-2-wrapper {
        .search-field,
        .btn {
          display: none;
        }
      }
    }
  }

  .marquee-slider {
    max-width: 1200px;
    margin: 8px auto;
    display: flex;
    padding: 5px;
    position: relative;
    .marquee-head {
      background-color: var(--primary-color-dark);
      padding: 10px;
      padding-right: 20px;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.9rem;
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
      -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    marquee {
      display: flex;
      align-items: center;
    }
    .marquee-item {
      display: inline-block;
      margin: auto;
      margin: 0 10px;
      font-size: 0.9rem;
      font-weight: 500;

      i {
        color: white;
        background-color: orangered;
        font-size: small;
        padding: 5px 6px;
        border-radius: 50%;
      }
    }
  }

  .swiper {
    max-width: 1200px;
    height: 400px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .imp-buttons {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 10px;
    .imp-button {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      flex: 1;
      padding: 25px 0;
      border-radius: 3px;
      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
        color: var(--primary-color-dark);
        font-weight: bold;
        display: flex;
        align-items: center;
        height: 50px;
      }
    }
  }

  .right-products {
    width: 100vw;
    position: relative;
    /* height: 85vh; */
    background-color: var(--primary-color-dark);

    display: flex;
    overflow-y: hidden;

    .left-img {
      position: absolute;
      height: 80vh;
      left: 0;
      img {
        height: inherit;
      }
    }
    @media screen and (max-width: 1370px) {
      .left-img {
        display: none;
      }
    }
    .right-img {
      position: absolute;
      height: 85vh;
      right: 0;
      img {
        height: inherit;
      }
    }
    @media screen and (max-width: 1370px) {
      .right-img {
        display: none;
      }
    }

    .products-content {
      max-width: 1000px;
      padding-top: 50px;

      margin-left: 14vw;

      .content-heading {
        color: white;
        font-weight: 600;
        font-size: 2rem;
        line-height: 1.25;
      }

      .desc {
        color: white;
        font-size: 0.9rem;
        line-height: 1.5;
        margin-top: 20px;
      }
    }
    @media screen and (max-width: 1300px) {
      .products-content {
        margin: auto;
        padding: 14px;
      }
    }
  }

  .text-bold {
    font-weight: bold;
  }

  .swiper-button-prev::after {
    content: "<i class=" fa fa-arrow-left " ></i>";
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding-left: 15px;
    padding-top: 12px;
    margin-left: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.296);
    z-index: -2;
  }
  .swiper-button-next::after {
    content: "<i class=" fa fa-arrow-left " ></i>";
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding-left: 18px;
    padding-top: 12px;
    margin-right: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.256);
    backdrop-filter: blur(5px);
  }

  .swiper-button-disabled {
    display: none;
  }

  @media screen and (max-width: 910px) {
    .imp-buttons {
      flex-direction: column;

      justify-content: flex-start;
      gap: 10px;
      .imp-button {
        padding-left: 20px;
        justify-content: flex-start;
      }
    }
  }
}
