{% load static %}
<!-- News Events Swiper -->
<div class="news_events_section_wrapper">
  <div class="content">
    <div class="intro-heading mb-4">News & Events</div>

    <div class="swiper news_events_swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'main/images/demo-img-1.webp' %}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'main/images/demo-img-2.webp' %}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'main/images/demo-img-3.jpg' %}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'main/images/img-gallery-1.webp' %}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'main/images/img-gallery-2.webp' %}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'main/images/img-gallery-4.webp' %}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'main/images/img-gallery-5.webp' %}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      {% comment %} <div class="swiper-pagination"></div> {% endcomment %}
    </div>
  </div>
</div>
